@import "@/app/variables.scss";
@import "@/app/mixins";

.main {
    margin-top: 2rem;
    .position{

        margin-bottom: 1rem;
    }
    .description{
        color: $textSecondary;
        margin-bottom: 1rem;
        span{
            font-weight: bold;
        }
    }
    .paragraphs{
        color: $textSecondary;
        > p{
            margin-bottom: 1rem;
        }
        margin-bottom: 8rem;
    }
}

.container{
    display: grid;
    @include md{
        grid-template-columns: 4fr 6fr;
        gap: 1rem;
        
    }
}
.separator{
    margin-bottom: 10rem;
}

.header{
    position: sticky;
    top: 2rem;
}

.desktopNavigation{
    margin-top: 5rem;
    display: none;
    @include md{
        display: inherit;
    }
}

.mobileNavigation{
    display: block;
    position: sticky;
    top: 0;
    left: 0;
    padding: 15px 0px; 
    backdrop-filter: blur(100px);
    background-color: rgba($color: $backgroundPrimary, $alpha: 0.95);
    z-index: 1;
    text-transform: uppercase;
    font-size: $textBase;
    @include md{
        display: none;
    }
}