$backgroundPrimary: #10101A;
$textColor: #F0F0F0;
$textSecondary:#BABABA;
$textSecondary2: #AAAAAA;
$accentColor: #9370DB;

$textXS: 12px;
$textS: 14px;
$textBase: 16px;
$textLG:18px;
$textXL: 20px;
$text2XL: 24px;
$text3XL:30px;
$text4XL:36px;