@import "@/app/mixins";
@import "@/app/variables.scss";


.stackList{
    display: flex;
    gap: 8px;
}

.date{
    font-size: $textXS;
    color: $textSecondary2;
    text-transform: uppercase;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}