@import "@/app/variables.scss";

@keyframes gradientAnimation {
    from{
        transition: all .3s ease-out;
        background: linear-gradient(to right, #F1BAFF ,#92EBFF, #ADFFC8);
        background-clip: text;
        -webkit-background-clip: text;
    }
    to{
        transition: all .3s ease-out;
        background: linear-gradient(to left, #F1BAFF ,#ff92ed, #ADFFC8);
        background-clip: text;
        -webkit-background-clip: text;
    }
}



@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.logo {
    background: linear-gradient(
        to right,
        #F1BAFF 20%,
        #c9faad 30%,
        #89ddff 70%,
        #ADFFC8 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
    font-size: clamp($text4XL, 10vw, $text8XL);
    span{
        font-weight: bold;
    }

}